<div>    
  <div class="container">  
      <div class="row">  
          <h1>{{ title }}</h1>  
          <div class="table-responsive">  
              <table class="table table-striped table-bordered table-hover tabel-condensed">  
                  <thead>  
                      <tr>  
                          <th>Id</th>  
                          <th>Title</th>  
                          <th>Working Type</th>  
                          <th>GUID</th>  
                      </tr>  
                  </thead>  
                  <tbody>  
                    <ng-container *ngFor="let workItem of page.PageItems">
                            <tr>
                                <td>{{ workItem.ID }}</td>
                                <td>{{ workItem.Title }}</td>
                                <td>{{ workItem.WorkItemType }}</td>
                                <td>{{ workItem.Guid }}</td>
                            </tr>
                    </ng-container> 
                  </tbody>  
                  <tfoot>  
                      <tr>  
                          <td align="center" colspan="6">  
                              <div class="text-center">     
                                    <ul class="pagination">
                                        <li class="page-item" (click)=changePage(1)>
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">First</span>
                                        </a>
                                        </li>
                                        <li class="page-item" (click)=changePage(previousPage)>
                                            <a class="page-link">{{ previousPage }}</a>
                                        </li>
                                        <li class="page-item" (click)=changePage(currentPage)>
                                            <a class="page-link">{{ currentPage }}</a>
                                        </li>
                                        <li class="page-item" (click)=changePage(nextPage)>
                                            <a class="page-link">{{ nextPage }}</a>
                                        </li>
                                        <li class="page-item" (click)=changePage(page.NumberOfPages)>
                                            <a class="page-link" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Last</span>
                                            </a>
                                        </li>
                                    </ul>
                              </div>  
                          </td>  
                      </tr>  
                  </tfoot>  
              </table>  
          </div>        
      </div>  
  </div>  
</div>  